<?xml version="1.0" encoding="utf-8"?>
<SiteConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <textopage>LS</textopage>
  <tisurl>true</tisurl>
  <launcher>TS</launcher>
  <lisurl>true</lisurl>
  <sd>SiteDir</sd>
  <od>OutDir</od>
</SiteConfig>